[Unit]
Description=Reboot into Ubuntu kernel
ConditionKernelCommandLine=!ubuntukernel
DefaultDependencies=no
Before=local-fs-pre.target systemd-remount-fs.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ubuntukernel-load.sh

[Install]
WantedBy=sysinit.target
